extends layout

block content
  //-  h1= title
  //-  p Welcome to #{title}
  div
    div(class="box")
      a(href=".?Vonal=1")
        div
          img(src='images/1.jpg')
        div
          img(src='images/1.png')
    div(class="box")
      a(href=".?Vonal=3")
        div
          img(src='images/3.jpg')
        div
          img(src='images/3.png')
    div(class="box")
      a(href=".?Vonal=6")
        div
          img(src='images/6.jpg')
        div
          img(src='images/6.png')
    div(class="box")
      a(href=".?Vonal=5")
        div
          img(src='images/5.jpg')
        div
          img(src='images/5.png')
    div(class="box")
      a(href=".?Vonal=7")
        div
          img(src='images/7.jpg')
        div
          img(src='images/7.png')
    div(class="box")
      a(href=".?Vonal=9")
        div
          img(src='images/9.jpg')
        div
          img(src='images/9.png')
    div(class="box")
      a(href=".?Vonal=32")
        div
          img(src='images/32.jpg')
        div
          img(src='images/32.png')
    div(class="box")
      a(href=".?Vonal=H5")
        div
          img(src='images/H5.jpg')
        div
          img(src='images/H5.png')
    div(class="box")
      a(href=".?Vonal=73")
        div
          img(src='images/73.jpg')
        div
          img(src='images/73.png')
